@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Style untuk scrollbar agar lebih rapi */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* gray-300 */
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
}